# Dependencies
node_modules
.pnpm-store

# Next.js
apps/web/.next
apps/web/out

# Expo
apps/mobile/.expo
apps/mobile/dist
apps/mobile/android
apps/mobile/ios

# Build outputs
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
